@import '../../styles/variables';

// .cus-div-left {
//   width: 100px;
//   height: 100px;
//   background-color: red;
//   position: relative;
//   float: left;
// }

//   .cus-div-right {
//     width: 100px;
//     height: 100px;
//     background-color: red;
//     position: relative;
//     float: left;
//     margin-left: 100px;
//   }

.cus-div-left {
  width: 50px;
  height: 50px;
  background-color: white;
  //position: relative;
  float: left;
  border: 1px solid brown;
}

  .cus-div-right {
    width: 50px;
    height: 50px;
    background-color: white;
    //position: relative;
    float: left;
    margin-left: 50px;
    border: 1px solid brown;
  }